<div class="container">
    <div class="card mb-3 mx-auto e-box-width">
        <div class="card-header text-start text-primary">
            {{ call .API.Icon "InfoCircle" }}
        </div>
        <div class="card-body text-center">
            <p class="card-title h5">
                {{ call .API.Lang .Prm.Title }}
            </p>
            <p class="card-text fs-6">
                {{ call .API.Lang "This account has been locked out, please try again later" }}
            </p>
        </div>
    </div>
</div>
