<div class="container">
    <div class="card mb-3 mx-auto e-box-width">
        <div class="card-header text-start text-success">
            {{ call .API.Icon "InfoCircle" }}
        </div>
        <div class="card-body text-center">
            <p class="card-title h5">
                {{ call .API.Lang "Sign out" }}
            </p>
            <p class="card-text fs-6">
                {{ call .API.Lang "You have successfully signed out of the application" }}
            </p>
            <p class="card-text fs-6">
                <a class="btn btn-primary rounded-pill" href="/">{{ call .API.Lang "Home page" }}</a>
            </p>
        </div>
    </div>
</div>